.halfwidth{

    width: 50%;
}

.avatar{
    border-radius: 50%;
    
    }

footer{
background-color: rgb(4, 4, 27);

}


.ms{

    width: 300px;
}

.img-fluid{
max-width: 100%


}

.img-size{
width: 135px;
height: 40px;
margin-top: 10px;


}


.list-none{
list-style: none;
margin-left: -15px;
}

.DEAL-TD{
    background-color: #FF4E4E;
    width: 45px;
    border-radius: 20px;
    text-align: center;
    top: -10px;
    right: 12px
}